@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  background-color: transparent;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img[src="https://www.000webhost.com/static/default.000webhost.com/images/powered-by-000webhost.png"] {
  display: none;
}

:root {
  --dark: #181818;
  --green: #4EAF4E;
  --yellow: #FFCC4A;
  --grey: #F5F5F5;
  --white: #fff;
  --liteGrey: #595566;
}

.main {
  flex: 1 1 auto;
}

body.lock {
  overflow: hidden;
}

.none {
  display: none;
}

.anim-item {
  overflow: hidden;
}

.anim-show {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.anim-show.active,
.active .anim-show {
  transform: translate(0, 0);
  opacity: 1;
}

.anim-show-left {
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.anim-show-left.active,
.active .anim-show-left {
  transform: translate(0, 0);
  opacity: 1;
}

.anim-show-btn-left {
  transform: translate(-120%, -50%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}

.anim-show-btn-left.active,
.active .anim-show-btn-left {
  transform: translate(0, -50%);
  opacity: 1;
}

.anim-show-right {
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.anim-show-right.active,
.active .anim-show-right {
  transform: translate(0, 0);
  opacity: 1;
}

.anim-show-btn-right {
  transform: translate(120%, -50%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}

.anim-show-btn-right.active,
.active .anim-show-btn-right {
  transform: translate(0, -50%);
  opacity: 1;
}

body {
  font-family: "Lato";
  font-weight: 400;
}

.title {
  font-family: "Cabin";
  font-size: 45px;
  font-weight: 700;
  line-height: 116%;
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 35px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 28px;
  }
}

.sub-title {
  display: inline-block;
  line-height: 147.5%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 20px;
  background-color: var(--green);
  padding: 0 16px;
  letter-spacing: 14.5%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-top {
  background: var(--dark);
  padding: 18px 0;
}
.header-top__container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 160%;
  flex-wrap: wrap;
}
@media screen and (max-width: 542px) {
  .header-top__container {
    justify-content: center;
    gap: 20px;
  }
}
.header-top__time {
  position: relative;
  padding-left: 24.2px;
}
.header-top__time::before {
  content: "";
  position: absolute;
  width: 14.2px;
  height: 14.2px;
  background: url("../img/main-page/icons/time.svg") 0 0 no-repeat;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header-top__loc {
  position: relative;
  padding-left: 24.2px;
}
.header-top__loc::before {
  content: "";
  position: absolute;
  width: 14.2px;
  height: 15.32px;
  background: url("../img/main-page/icons/location.svg") 0 0 no-repeat;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header-top__list {
  display: flex;
  align-items: center;
  gap: 0 25px;
}
.header-top__item img {
  width: 18px;
  height: 22.4px;
}

.header {
  background: rgba(27, 27, 27, 0.91);
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__item {
  position: relative;
  padding-left: 16.88px;
  color: var(--white);
  transition: all 0.3s ease 0s;
}
.header__item:hover {
  color: #5AB612;
}
.header__item:hover::before {
  border: 0.98px solid #5AB612;
  background-color: #5AB612;
}
.header__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 0.98px solid rgb(81, 81, 81);
  width: 8.66px;
  height: 8.66px;
  border-radius: 100%;
  transition: all 0.3s ease 0s;
}
.header__item a {
  font-size: 17.73px;
  line-height: 160%;
  color: inherit;
}
.header__phone {
  padding: 8px 41px 8px 10px;
  border-radius: 42px;
  background-color: var(--white);
  display: inline-flex;
  align-items: center;
  transition: all 0.5s ease 0s;
  border: 2px solid transparent;
}
.header__phone:hover {
  border: 2px solid var(--yellow);
}
.header__phone div {
  background-color: #FFC42B;
  border-radius: 100%;
  width: 43.54px;
  height: 43.54px;
  position: relative;
}
.header__phone div::after {
  content: "";
  position: absolute;
  background: url("../img/main-page/icons/phone.svg") 0 0 no-repeat;
  width: 17.76px;
  height: 17.76px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__phone-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: rgb(53, 53, 53);
  margin-left: 11px;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__phone {
    display: none;
  }
  .header__burger {
    display: block;
    position: absolute;
    z-index: 99999;
    width: 30px;
    height: 18px;
    background-color: transparent;
    top: 42%;
    right: 24px;
  }
  .header__burger.active {
    top: -32px;
    right: 16px;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    right: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--white);
  }
  .header__burger:before, .header__burger::after {
    content: "";
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    width: 100%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger.active::before {
    content: "";
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger.active::after {
    content: "";
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    transform: translateX(100%);
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .header__list {
    flex-direction: column;
  }
}

.introduction {
  background: url("../img/main-page/main.webp") 0 0/cover no-repeat;
  height: 750px;
}
@media screen and (max-width: 580px) {
  .introduction {
    height: 500px;
  }
}
.introduction__container {
  max-width: 1556px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 580px) {
  .introduction__container {
    text-align: center;
    align-items: center;
  }
}
.introduction__content {
  display: inline-block;
  max-width: 551px;
  padding: 55px 58px;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.85);
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.introduction__content.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.8s ease 0s;
}
@media screen and (max-width: 580px) {
  .introduction__content {
    padding: 20px;
  }
}
.introduction__title {
  font-family: "Cabin";
  font-size: 50px;
  font-weight: 700;
  line-height: 116%;
  color: var(--dark);
  max-width: 435px;
}
@media screen and (max-width: 580px) {
  .introduction__title {
    font-size: 32px;
  }
}
.introduction__sub-title {
  color: var(--liteGrey);
  line-height: 147.5%;
  max-width: 431px;
  margin-top: 19px;
}
@media screen and (max-width: 580px) {
  .introduction__sub-title {
    font-size: 14px;
  }
}
.introduction__links {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
@media screen and (max-width: 580px) {
  .introduction__links {
    flex-direction: column;
    justify-content: center;
  }
}
.introduction__link-01 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  border-radius: 42px;
  color: var(--white);
  background-color: var(--dark);
  padding: 16px 33px;
  margin-right: 13px;
  transition: all 0.5s ease 0s;
}
.introduction__link-01:hover {
  background: rgb(243, 243, 243);
  color: var(--dark);
}
@media screen and (max-width: 580px) {
  .introduction__link-01 {
    margin-right: 0;
    margin-bottom: 13px;
  }
}
.introduction__link-02 {
  display: inline-flex;
  align-items: center;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
  border-radius: 42px;
  background-color: var(--white);
  transition: all 0.5s ease 0s;
  border: 2px solid transparent;
}
.introduction__link-02:hover {
  border: 2px solid var(--green);
}
.introduction__link-02 span {
  color: #353535;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  margin-left: 5px;
}

.client__container {
  max-width: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-top: 15px;
}
.client__container img {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.client__container img:nth-child(1) {
  transition: all 0.8s ease 0s;
}
.client__container img:nth-child(2) {
  transition: all 0.8s ease 0.2s;
}
.client__container img:nth-child(3) {
  transition: all 0.8s ease 0.4s;
}
.client__container img:nth-child(4) {
  transition: all 0.8s ease 0.6s;
}
.client__container img:nth-child(5) {
  transition: all 0.8s ease 0.8s;
}
.client__container img:nth-child(6) {
  transition: all 0.8s ease 1s;
}
@media screen and (max-width: 1350px) {
  .client__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about__container {
  padding: 140px 15px 170px 15px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .about__container {
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 70px 15px 100px 15px;
  }
}
@media screen and (max-width: 700px) {
  .about__container {
    padding: 40px 15px 40px 15px;
  }
}
.about__content {
  color: var(--dark);
  flex: 1 1 auto;
}
.about__desc {
  line-height: 147.5%;
  letter-spacing: 14.5%;
  text-align: left;
  text-transform: uppercase;
  padding: 0 12px;
  border-radius: 20px;
  background: rgb(255, 204, 74);
  margin-bottom: 22px;
}
.about__title {
  margin-bottom: 18px;
}
.about__sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 147.5%;
  max-width: 373px;
}
@media screen and (max-width: 1024px) {
  .about__sub-title {
    max-width: unset;
  }
}
.about__text {
  color: var(--liteGrey);
  line-height: 147.5%;
  margin-top: 11px;
}
.about__info {
  padding: 18px 0;
  border-bottom: 1px solid rgb(216, 216, 216);
  border-top: 1px solid rgb(216, 216, 216);
  display: inline-flex;
  align-items: center;
  gap: 40px;
  margin-top: 45px;
}
@media screen and (max-width: 700px) {
  .about__info {
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .about__info {
    gap: 20px;
  }
}
.about__item {
  position: relative;
  border-radius: 15px;
  background: rgb(247, 247, 247);
  padding: 16px 28px;
}
@media screen and (max-width: 500px) {
  .about__item {
    padding: 10px 10px;
  }
}
.about__item:nth-child(1):after {
  content: "";
  position: absolute;
  top: 50%;
  right: -65px;
  transform: translateY(-50%);
  border: 1px solid rgb(216, 216, 216);
  transform: rotate(90deg);
  width: 90px;
}
@media screen and (max-width: 500px) {
  .about__item:nth-child(1):after {
    display: none;
  }
}
.about__count-serv {
  font-family: "Cabin";
  font-size: 30px;
  font-weight: 700;
  line-height: 116%;
  position: relative;
  padding-left: 34px;
}
.about__count-serv::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../img/main-page/icons/star.svg") 0 0/cover no-repeat;
  width: 27px;
  height: 27px;
}
.about__count-text {
  font-weight: 700;
  line-height: 147.5%;
}
.about__count-cust {
  font-family: "Cabin";
  font-size: 30px;
  font-weight: 700;
  line-height: 116%;
  position: relative;
  padding-left: 32px;
}
.about__count-cust::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../img/main-page/icons/smile.svg") 0 0/cover no-repeat;
  width: 22px;
  height: 22px;
}
.about__body {
  position: relative;
  flex: 0 1 77.7%;
  margin-left: 145px;
}
@media screen and (max-width: 1150px) {
  .about__body {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .about__body {
    margin-top: 30px;
    margin-left: 0;
  }
}
.about__body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -90px;
  width: 328px;
  height: 328px;
  background: url("../img/main-page/about-bg.png") 0 0/cover no-repeat;
  z-index: -1;
}
@media screen and (max-width: 1150px) {
  .about__body::before {
    display: none;
  }
}
.about__body > img {
  max-width: 635px;
  width: 100%;
  height: auto;
}
.about__market {
  position: relative;
  display: flex;
  max-width: 241px;
  align-items: center;
  border-radius: 20px;
  box-shadow: -5px 22px 26px 0px rgba(95, 95, 95, 0.25);
  background: var(--white);
  padding: 21px 25px;
  margin-top: -100px;
  z-index: 2;
}
.about__market > p {
  max-width: 86px;
  font-weight: 700;
  line-height: 147.5%;
  margin-left: 10px;
}
.about__progress {
  position: relative;
}
.about__num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cabin";
  font-size: 26px;
  font-weight: 700;
  line-height: 116%;
}

.services {
  background-color: var(--grey);
}
.services__conteiner {
  text-align: center;
  color: var(--dark);
  padding: 170px 15px;
}
@media screen and (max-width: 900px) {
  .services__conteiner {
    padding: 50px 15px;
  }
}
.services__sub-title {
  display: inline-block;
}
.services__title {
  margin-top: 8px;
  transition: all 0.8s ease 0.2s;
}
.services__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 38px;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .services__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .services__body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.services__item {
  text-align: left;
  padding: 49px 47px;
  border-radius: 20px;
  background: rgb(235, 235, 235);
}
.services__item:nth-child(1) {
  transition: all 0.8s ease 0.2s;
}
.services__item:nth-child(2) {
  transition: all 0.8s ease 0.4s;
}
.services__item:nth-child(3) {
  transition: all 0.8s ease 0.6s;
}
.services__item:nth-child(4) {
  transition: all 0.8s ease 0.8s;
}
.services__item:nth-child(5) {
  transition: all 0.8s ease 1s;
}
.services__item:nth-child(6) {
  transition: all 0.8s ease 1.2s;
}
.services__img {
  margin-bottom: 25px;
}
.services__desc {
  font-family: "Cabin";
  font-size: 25px;
  font-weight: 600;
  line-height: 116%;
  margin-bottom: 10px;
}
.services__text {
  color: var(--liteGrey);
  line-height: 147.5%;
}

.offer__container {
  padding: 154px 15px;
  color: var(--liteGrey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .offer__container {
    padding: 50px 15px;
    flex-direction: column;
    align-items: normal;
  }
}
.offer__steps-sub-title {
  display: inline-block;
  margin-bottom: 16px;
}
.offer__steps-title {
  max-width: 507px;
  color: var(--dark);
  margin-bottom: 16px;
  transition: all 0.8s ease 0.2s;
}
.offer__steps-text {
  max-width: 488px;
  line-height: 147.5%;
  transition: all 0.8s ease 0.4s;
}
.offer__steps-body {
  margin-top: 40px;
}
.offer__steps-item {
  display: flex;
  padding: 28px 0 40px 0;
  border-top: 1px solid rgb(193, 193, 193);
}
.offer__steps-item:nth-child(1) {
  transition: all 0.8s ease 0.5s;
}
.offer__steps-item:nth-child(2) {
  transition: all 0.8s ease 0.6s;
}
.offer__steps-item:nth-child(3) {
  transition: all 0.8s ease 0.7s;
}
.offer__steps-count {
  width: 52px;
  height: 52px;
  font-family: "Cabin";
  font-size: 26px;
  font-weight: 600;
  line-height: 116%;
  color: var(--dark);
  padding: 10px 20px;
  border-radius: 100%;
  margin-right: 16px;
}
.offer__steps-count:nth-child(1) {
  background-color: var(--yellow);
}
.offer__steps-count:nth-child(2) {
  background-color: var(--green);
}
.offer__steps-count:nth-child(3) {
  background-color: var(--dark);
}
.offer__steps-desc {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  color: var(--dark);
  margin-bottom: 10px;
}
.offer__steps-info {
  line-height: 147.5%;
  max-width: 320px;
}
.offer__exp-sub-title {
  display: inline-block;
  background-color: var(--yellow);
  color: var(--dark);
}
.offer__exp-title {
  margin-top: 8px;
  color: var(--dark);
  transition: all 0.8s ease 0.2s;
}
.offer__exp-text {
  margin-top: 17px;
  line-height: 147.5%;
  max-width: 542px;
  margin-bottom: 35px;
}
@media screen and (max-width: 600px) {
  .offer__exp-text {
    margin-bottom: 15px;
  }
}
.offer__exp-text:nth-child(3) {
  transition: all 0.8s ease 0.3s;
  margin-bottom: 0;
}
.offer__exp-text:nth-child(4) {
  transition: all 0.8s ease 0.4s;
  margin-bottom: 0;
}
.offer__exp-body {
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
}
@media screen and (max-width: 900px) {
  .offer__exp-body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.offer__exp-item {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 20px;
  background: rgb(250, 250, 250);
  padding: 33px 23px;
}
.offer__exp-item:nth-child(1) {
  transition: all 0.8s ease 0.5s;
  margin-bottom: 0;
}
.offer__exp-item:nth-child(2) {
  transition: all 0.8s ease 0.6s;
  margin-bottom: 0;
}
.offer__exp-item:nth-child(3) {
  transition: all 0.8s ease 0.7s;
  margin-bottom: 0;
}
.offer__exp-item:nth-child(4) {
  transition: all 0.8s ease 0.8s;
  margin-bottom: 0;
}
.offer__exp-img {
  margin-bottom: 22px;
}
.offer__exp-desc {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  color: var(--dark);
}
.offer__exp-info {
  margin-top: 10px;
  line-height: 147.5%;
  max-width: 234px;
}

.companies {
  position: relative;
}
.companies::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/main-page/companies-bg.png") 0 0/cover no-repeat;
  height: 646px;
  width: 100%;
  z-index: -1;
}
.companies__container {
  padding: 200px 15px 150px 15px;
}
@media screen and (max-width: 1024px) {
  .companies__container {
    padding: 100px 15px;
  }
}
@media screen and (max-width: 900px) {
  .companies__container {
    padding: 50px 15px;
  }
}
.companies__nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .companies__nav {
    flex-direction: column;
  }
}
.companies__title {
  color: var(--white);
  max-width: 731px;
  margin-top: 8px;
}
@media screen and (max-width: 1024px) {
  .companies__title {
    font-size: 30px;
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  .companies__title {
    font-size: 24px;
  }
}
.companies__link {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: var(--dark);
  padding: 16px 32px;
  border-radius: 42px;
  background-color: var(--yellow);
  border: 2px solid transparent;
  transition: all 0.5s ease 0s;
}
.companies__link:hover {
  background-color: var(--white);
  border: 2px solid var(--yellow);
  color: var(--dark);
}
@media screen and (max-width: 900px) {
  .companies__link {
    align-self: flex-start;
    margin-top: 20px;
  }
}
.companies__body {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  border-radius: 30px;
  padding: 25px;
  transition: all 0.8s ease 0.4s;
}
.companies__body.active {
  background: rgb(250, 250, 250);
}
@media screen and (max-width: 900px) {
  .companies__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 15px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .companies__body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
.companies__item {
  height: 344px;
  position: relative;
}
.companies__item:nth-child(1) {
  transition: all 0.8s ease 0.1s;
}
.companies__item:nth-child(2) {
  transition: all 0.8s ease 0.3s;
}
.companies__item:nth-child(3) {
  transition: all 0.8s ease 0.5s;
}
.companies__item:nth-child(4) {
  transition: all 0.8s ease 0.7s;
}
.companies__item:nth-child(5) {
  transition: all 0.8s ease 0.9s;
}
.companies__item:nth-child(6) {
  transition: all 0.8s ease 1.1s;
}
@media screen and (min-width: 1024px) {
  .companies__item:hover .companies__content {
    opacity: 1;
  }
}
.companies__img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.companies__content {
  transition: all 0.5s ease 0s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 20px;
  background-color: rgba(24, 24, 24, 0.75);
}
.companies__sub-content {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.companies__info {
  font-size: 25px;
  font-weight: 600;
  line-height: 116%;
  color: var(--white);
}
.companies__desc {
  margin-top: 4px;
  line-height: 147.5%;
  color: var(--yellow);
}
.companies__plus {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  background: linear-gradient(153.88deg, rgb(255, 233, 177) -8.686%, rgb(221, 160, 3) 120.59%);
  border-radius: 100%;
  width: 55px;
  height: 55px;
  text-align: center;
}
.companies__plus span {
  color: var(--dark);
  display: inline-block;
  font-family: "Cabin";
  font-size: 53px;
  line-height: 116%;
  margin-top: -5px;
}
.companies__count {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .companies__count {
    margin-top: 25px;
  }
}
@media screen and (max-width: 600px) {
  .companies__count {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.companies__count-item {
  text-align: center;
  color: var(--dark);
  width: 138px;
}
.companies__num {
  font-family: "Cabin";
  font-size: 50px;
  font-weight: 700;
  line-height: 116%;
  margin-bottom: 12px;
}
.companies__success {
  font-family: "Cabin";
  font-size: 18px;
  font-weight: 500;
  line-height: 116%;
}

.feedback__container {
  text-align: center;
  padding-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .feedback__container {
    padding-bottom: 50px;
  }
}
.feedback__sub-title {
  margin-bottom: 23px;
}
.feedback__title {
  margin: 0 auto;
  font-family: "Cabin";
  font-size: 40px;
  font-weight: 700;
  line-height: 116%;
  color: #CECECE;
  max-width: 628px;
}
.feedback__title span {
  color: var(--dark);
}
@media screen and (max-width: 768px) {
  .feedback__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .feedback__title {
    font-size: 24px;
  }
}
.feedback__slider {
  margin-top: 33px;
  position: relative;
  max-width: 684px;
}
.feedback__slide img {
  max-width: 210px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.8s ease 0.2s;
}
.feedback__name {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  margin-top: 27px;
  transition: all 0.8s ease 0.5s;
}
.feedback__job {
  font-weight: 600;
  line-height: 147.5%;
  color: var(--green);
  margin-top: 7px;
  transition: all 0.8s ease 0.6s;
}
.feedback__button-next.swiper-button-disabled, .feedback__button-prev.swiper-button-disabled {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}
.feedback__button-prev::after, .feedback__button-next::after {
  content: "";
  font-family: unset;
  font-size: unset;
  letter-spacing: 0;
  line-height: unset;
}
.feedback__button-prev::before, .feedback__button-next::before {
  content: "Next";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 62px;
  color: rgb(53, 53, 53);
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
}
.feedback__button-prev::before {
  content: "Prev";
  left: 62px;
  right: unset;
}
.feedback__button-prev, .feedback__button-next {
  width: 125px;
  height: 60px;
  border-radius: 42px;
  background: rgb(243, 243, 243);
}
@media screen and (max-width: 520px) {
  .feedback__button-prev, .feedback__button-next {
    display: none;
  }
}
.feedback__button-prev::after {
  width: 45px;
  height: 45px;
  background: url("../img/main-page/icons/feedback-prev.svg") 0 0 no-repeat;
}
.feedback__button-prev {
  padding: 8px 25px 8px 8px;
  justify-content: left;
}
.feedback__button-next {
  padding: 8px 8px 8px 25px;
  justify-content: right;
}
.feedback__button-next::after {
  width: 45px;
  height: 45px;
  background: url("../img/main-page/icons/feedback-next.svg") 0 0 no-repeat;
}

.results__container {
  padding-bottom: 170px;
  color: var(--white);
}
@media screen and (max-width: 900px) {
  .results__container {
    padding-bottom: 50px;
  }
}
.results__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 73px;
  border-radius: 30px;
  background-color: var(--dark);
  padding: 0 90px;
}
@media screen and (max-width: 1110px) {
  .results__body {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1024px) {
  .results__body {
    padding: 0 30px;
    gap: 0 30px;
  }
}
@media screen and (max-width: 800px) {
  .results__body {
    padding: 20px;
    text-align: center;
  }
}
.results__content {
  flex: 0 1 auto;
}
.results__title {
  margin: 8px 0;
}
.results__title span {
  color: #727272;
}
.results__text {
  margin-bottom: 21px;
  line-height: 147.5%;
}
.results__phone {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 16px 21px;
  border-radius: 42px;
  background: rgb(255, 204, 74);
  border: 2px solid transparent;
  transition: all 0.5s ease 0s;
}
.results__phone:hover {
  background-color: var(--white);
  border: 2px solid var(--yellow);
  color: var(--dark);
}
.results__phone-item {
  margin-left: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: var(--dark);
}
.results__image {
  flex: 0 1 42%;
}
@media screen and (max-width: 1024px) {
  .results__image {
    width: 370px;
  }
}
@media screen and (max-width: 800px) {
  .results__image {
    display: none;
  }
}

.news {
  background-color: var(--grey);
}
.news__container {
  padding: 178px 15px;
}
@media screen and (max-width: 900px) {
  .news__container {
    padding: 50px 15px;
  }
}
.news__more {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .news__more {
    flex-direction: column;
  }
}
.news__title {
  max-width: 507px;
}
.news__more-link {
  align-self: flex-start;
  padding: 16px 37px;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: var(--dark);
  border-radius: 42px;
  background-color: var(--yellow);
  border: 2px solid transparent;
  transition: all 0.5s ease 0s;
}
.news__more-link:hover {
  background-color: var(--white);
  border: 2px solid var(--yellow);
  color: var(--dark);
}
.news__content {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
@media screen and (max-width: 1050px) {
  .news__content {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .news__content {
    margin-top: 25px;
  }
}
.news__item {
  transition: all 0.8s ease 0.2s;
}
.news__img {
  max-width: 595px;
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.news__desc {
  margin-top: 28px;
  font-family: "Cabin";
  font-size: 30px;
  font-weight: 600;
  line-height: 116%;
  color: var(--dark);
}
.news__text {
  margin-top: 12px;
  color: var(--liteGrey);
  line-height: 147.5%;
}
.news__info {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(193, 193, 193);
  border-bottom: 1px solid rgb(193, 193, 193);
  padding: 15px 0;
  margin-top: 10px;
}
@media screen and (max-width: 550px) {
  .news__info {
    justify-content: center;
    flex-direction: column;
  }
}
.news__info-img {
  margin-right: 8px;
}
@media screen and (max-width: 550px) {
  .news__info-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.news__name {
  color: var(--liteGrey);
  line-height: 147.5%;
  margin-right: 10px;
}
@media screen and (max-width: 550px) {
  .news__name {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.news__date {
  color: var(--liteGrey);
  line-height: 147.5%;
  position: relative;
  padding-left: 25px;
}
.news__date::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border: 1px solid var(--liteGrey);
  transform: rotate(90deg);
  width: 14px;
  height: 1px;
}
@media screen and (max-width: 550px) {
  .news__date::before {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .news__date {
    padding-left: 0;
    margin-bottom: 10px;
  }
}
.news__link {
  margin-left: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: var(--white);
  padding: 16px 40px;
  border-radius: 42px;
  background-color: var(--dark);
  transition: all 0.5s ease 0s;
  border: 2px solid transparent;
}
.news__link:hover {
  border: 2px solid var(--dark);
  background: rgb(243, 243, 243);
  color: var(--dark);
}
@media screen and (max-width: 1100px) {
  .news__link {
    padding: 16px 30px;
  }
}
@media screen and (max-width: 1024px) {
  .news__link {
    padding: 16px 40px;
  }
}
@media screen and (max-width: 550px) {
  .news__link {
    margin-left: unset;
  }
}

.contact__container {
  display: flex;
  gap: 90px;
  padding: 150px 15px 100px 15px;
}
@media screen and (max-width: 900px) {
  .contact__container {
    padding: 50px 15px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.contact__body {
  flex: 0 1 auto;
}
.contact__sub-title {
  margin-bottom: 6px;
}
.contact__title {
  margin-bottom: 13px;
}
.contact__text {
  color: var(--liteGrey);
  line-height: 147.5%;
  max-width: 407px;
  margin-bottom: 40px;
  transition: all 0.8s ease 0.2s;
}
.contact__item {
  display: flex;
  align-items: center;
}
.contact__item:not(:last-child) {
  margin-bottom: 56px;
}
.contact__item:nth-child(4) {
  transition: all 0.8s ease 0.3s;
}
.contact__item:nth-child(5) {
  transition: all 0.8s ease 0.4s;
}
.contact__item:nth-child(6) {
  transition: all 0.8s ease 0.5s;
}
.contact__img {
  margin-right: 16px;
}
.contact__desc {
  color: var(--liteGrey);
  line-height: 147.5%;
  margin-bottom: 3px;
}
.contact__info {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  color: var(--dark);
}
.contact__form {
  flex: 0 1 56%;
}
@media screen and (max-width: 500px) {
  .contact__form {
    width: 100%;
  }
}
.contact__form-block {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 28px 24px;
  margin-bottom: 28px;
}
@media screen and (max-width: 500px) {
  .contact__form-block {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px 0;
  }
}
.contact__form-item:nth-child(1) {
  transition: all 0.8s ease 0.2s;
}
.contact__form-item:nth-child(2) {
  transition: all 0.8s ease 0.3s;
}
.contact__form-item:nth-child(3) {
  transition: all 0.8s ease 0.4s;
}
.contact__form-item:nth-child(4) {
  transition: all 0.8s ease 0.5s;
}
.contact__form-desc {
  line-height: 147.5%;
  color: var(--dark);
  margin-bottom: 8px;
}
.contact__form-input {
  padding: 22px 33px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 54px;
  background: var(--white);
  width: 100%;
}
.contact__form-input._error {
  border-color: red;
}
.contact__textarea {
  padding: 22px 33px;
  width: 100%;
  height: 157px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 22px;
  background: var(--white);
  resize: none;
}
.contact__btn-block {
  transition: all 0.8s ease 0.6s;
}
.contact__btn {
  padding: 16px 27px;
  border-radius: 42px;
  background-color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: var(--white);
  margin-top: 44px;
  transition: all 0.5s ease 0s;
  border: 2px solid transparent;
}
.contact__btn:hover {
  border: 2px solid var(--dark);
  background: rgb(243, 243, 243);
  color: var(--dark);
}

.footer {
  background: url("../img/main-page/footer-bg.png") 0 0/cover no-repeat;
}
.footer__container {
  padding: 125px 15px 25px 15px;
}
@media screen and (max-width: 900px) {
  .footer__container {
    padding: 50px 15px 25px 15px;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .footer__content {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 800px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__info {
  flex: 0 1 18.6%;
  position: relative;
}
.footer__info::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  border: 1px solid rgb(112, 112, 112);
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
}
@media screen and (max-width: 1024px) {
  .footer__info::after {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .footer__info {
    flex: none;
    text-align: center;
    margin-bottom: 15px;
  }
}
.footer__social {
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  margin-top: 30px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex: 0 1 55%;
}
@media screen and (max-width: 1230px) {
  .footer__block {
    gap: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__block {
    flex: none;
  }
}
@media screen and (max-width: 800px) {
  .footer__block {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
}
.footer__title {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 11px;
}
.footer__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: rgb(255, 204, 74);
}
@media screen and (max-width: 800px) {
  .footer__title::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.footer__link a {
  color: var(--white);
  line-height: 147.5%;
  position: relative;
  padding-left: 10px;
  transition: all 0.5s ease 0s;
}
.footer__link a:hover {
  color: var(--green);
}
.footer__link a:hover::before {
  background-color: var(--green);
}
.footer__link a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--white);
  transition: all 0.5s ease 0s;
}
.footer__text {
  line-height: 147.5%;
  max-width: 232px;
  margin-bottom: 16px;
}
.footer__adress-link {
  display: inline-block;
  border-radius: 42px;
  background: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: var(--dark);
  padding: 15px 23px;
  text-align: center;
  transition: all 0.5s ease 0s;
  border: 2px solid transparent;
}
.footer__adress-link:hover {
  border: 2px solid var(--white);
  background-color: var(--dark);
  color: var(--white);
}
.footer__copyright {
  line-height: 147.5%;
  text-align: center;
  color: var(--white);
  padding-top: 20px;
  border-top: 1px solid rgb(112, 112, 112);
}