.subscribe__container {
  padding: 150px 15px;
}
@media screen and (max-width: 1024px) {
  .subscribe__container {
    padding: 50px 15px;
    text-align: center;
  }
}
.subscribe__body {
  border-radius: 20px;
  background-color: var(--dark);
  padding: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.subscribe__body::after {
  content: "";
  position: absolute;
  top: -155px;
  right: -140px;
  background: url("../img/services-single/contact-dash.svg") 0 0 no-repeat;
  transform: rotate(43deg);
  width: 309px;
  height: 309px;
  z-index: 1;
}
.subscribe__body::before {
  content: "";
  position: absolute;
  bottom: -200px;
  right: -100px;
  transform: rotate(135deg);
  background-color: var(--green);
  border-radius: 20px;
  width: 227px;
  height: 285px;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .subscribe__body {
    padding: 44px;
  }
}
@media screen and (max-width: 1024px) {
  .subscribe__body {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .subscribe__body {
    padding: 22px;
  }
}
.subscribe__content {
  color: var(--white);
  position: relative;
  z-index: 3;
}
.subscribe__title {
  font-family: "Cabin";
  font-size: 35px;
  font-weight: 700;
  line-height: 116%;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .subscribe__title {
    font-size: 24px;
  }
}
.subscribe__desc {
  font-weight: 700;
  line-height: 147.5%;
}
.subscribe__form {
  display: flex;
  align-items: center;
  gap: 21px;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .subscribe__form {
    flex-direction: column;
    justify-content: center;
  }
}
.subscribe__email {
  color: rgb(169, 169, 169);
  line-height: 147.5%;
  padding: 22px 33px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 54px;
  background-color: var(--white);
  width: 311px;
  border: 2px solid transparent;
  transition: all 0.5s ease 0s;
}
.subscribe__email:focus {
  border-color: var(--yellow);
}
.subscribe__email._error {
  border-color: red;
}
@media screen and (max-width: 1200px) {
  .subscribe__email {
    width: 260px;
  }
}
@media screen and (max-width: 1024px) {
  .subscribe__email {
    width: 311px;
  }
}
@media screen and (max-width: 500px) {
  .subscribe__email {
    width: 100%;
  }
}
.subscribe__btn {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  padding: 15px 45px;
  border-radius: 42px;
  border: 2px solid transparent;
  background-color: var(--yellow);
  transition: all 0.5s ease 0s;
}
.subscribe__btn:hover {
  border-color: var(--yellow);
  background-color: var(--white);
}