// Подключение шрифтов и т.п
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
:root{
    --dark: #181818;
    --green: #4EAF4E;
    --yellow: #FFCC4A;
    --grey: #F5F5F5;
    --white: #fff;
    --liteGrey: #595566;
}
body.lock{
	overflow: hidden;
}
.active-f{
    display: flex !important;
}
.none{
    display: none !important;
}
.anim-item{
    overflow: hidden;
}
.anim-show{
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.anim-show.active,
.active .anim-show{
    transform: translate(0, 0);
    opacity: 1;
}
.anim-show-left{
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.anim-show-left.active,
.active .anim-show-left{
    transform: translate(0, 0);
    opacity: 1;
}
.anim-show-btn-left{
    transform: translate(-120%, -50%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}
.anim-show-btn-left.active,
.active .anim-show-btn-left{
    transform: translate(0, -50%);
    opacity: 1;
}
.anim-show-right{
    transform: translate(120%, 0);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.anim-show-right.active,
.active .anim-show-right{
    transform: translate(0, 0);
    opacity: 1;
}
.anim-show-btn-right{
    transform: translate(120%, -50%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}
.anim-show-btn-right.active,
.active .anim-show-btn-right{
    transform: translate(0, -50%);
    opacity: 1;
}
body{
    font-family: "Lato";
    font-weight: 400;
}
.title {
    font-family: "Cabin";
    font-size: 45px;
    font-weight: 700;
    line-height: 116%;
    @media screen and (max-width: 700px){
        font-size: 35px;       
    }
    @media screen and (max-width: 500px){
        font-size: 28px;       
    }
}
.sub-title {
    display: inline-block;
    line-height: 147.5%;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 20px;
    background-color: var(--green);
    padding: 0 16px;
    letter-spacing: 14.5%;
}
.main{
    flex: 1 1 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

// Подключение блоков
@import "header.scss";
@import "presentation.scss";
@import "subscribe.scss";
@import "contact.scss";
@import "footer.scss";

.presentation{
    &__container{
        padding: 168px 15px;
        @media screen and (max-width: 1024px) {
            padding: 50px 15px;
        }
    }
}
.talk {

    &__container {
        padding: 150px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 82px;
        @media screen and (max-width: 1024px) {
            padding: 50px 15px;
            justify-content: center;
            flex-direction: column;
            gap: 40px;
        }
    }

    &__img {
        position: relative;
        & img{
            position: relative;
            z-index: 3;
            max-width: 634px;
            width: 100%;
            height: auto;
            border-radius: 28px;
        }
        &::before{
            content: '';
            position: absolute;
            top: -70px;
            left: -90px;
            background: url('../img/contact-page/talk-dash.svg') 0 0 no-repeat;
            width: 328px;
            height: 328px;
            z-index: 1;
            @media screen and (max-width: 1024px){
                display: none;
            }
        }
        &::after{
            content: '';
            position: absolute;
            top: -40px;
            left: -40px;
            width: 164px;
            background-color: var(--green);
            height: 183px;
            transform: rotate(-90deg);
            border-radius: 20px;
            z-index: 2;
            @media screen and (max-width: 1024px){
                display: none;
            }
        }
    }

    &__sub-title {
        margin-bottom: 11px;
    }

    &__title {
        margin-bottom: 13px;
    }

    &__text {
        max-width: 481px;
        line-height: 147.5%;
        color: var(--liteGrey);
        transition: all 0.8s ease 0.2s;
    }

    &__block {
        margin-top: 36px;
    }

    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 15px;
        }
        &:nth-child(1){
            transition: all 0.8s ease 0.4s;
        }
        &:nth-child(2){
            transition: all 0.8s ease 0.6s;
        }
        &:nth-child(3){
            transition: all 0.8s ease 0.8s;
        }
    }

    &__icon {
        position: relative;
        background-color: var(--dark);
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    &__icon-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 21px;
    }
    &__content {
        margin-left: 20px;
    }

    &__desc {
        font-family: "Cabin";
        line-height: 116%;
        color: var(--liteGrey);
        margin-bottom: 5px;
    }

    &__info {
        font-family: "Cabin";
        font-weight: 600;
        line-height: 116%;
        color: var(--dark);
    }
}
.subscribe{
    &__container{
        padding: 0px 15px 150px 15px;
        @media screen and (max-width: 1024px){
            padding: 0px 15px 50px 15px;   
        }
    }
}
.contact{
    &__container{
        padding: 0px 15px 150px 15px;
        @media screen and (max-width: 1024px){
            padding: 0px 15px 50px 15px;   
        }
    }
}