.footer {
    background: url("../img/main-page/footer-bg.png") 0 0/cover no-repeat;
    &__container {
        padding: 125px 15px 25px 15px;
        @media screen and (max-width: 900px){
            padding: 50px 15px 25px 15px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        color: var(--white);
        padding-bottom: 100px;
        @media screen and (max-width: 900px){
            padding-bottom: 50px;
        }
        @media screen and (max-width: 800px){
            flex-direction: column;
        }
    }

    &__info {
        flex: 0 1 18.6%;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -100%;
            border: 1px solid rgb(112, 112, 112);
            transform: rotate(90deg);
            width: 100%;
            height: 1px;
            @media screen and (max-width: 1024px){
                display: none;
            }
        }
        @media screen and (max-width: 1024px){
            flex: none;
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &__social {
        font-size: 20px;
        font-weight: 600;
        line-height: 116%;
        margin-top: 30px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        flex: 0 1 55%;
        @media screen and (max-width: 1230px) {
            gap: 50px;
        }
        @media screen and (max-width: 1024px){
            flex: none;
        }
        @media screen and (max-width: 800px){
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 30px;
        }
    }

    &__title {
        font-family: "Cabin";
        font-size: 20px;
        font-weight: 600;
        line-height: 116%;
        margin-bottom: 10px;
        position: relative;
        padding-bottom: 11px;
        &::before{
            content: '';
            position: absolute;
            width: 32px;
            height: 3px;
            bottom: 0;
            left: 0;
            border-radius: 20px;
            background: rgb(255, 204, 74);
            @media screen and (max-width: 800px){
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__link {
        & a{
            color: var(--white);
            line-height: 147.5%;
            position: relative;
            padding-left: 10px;
            transition: all 0.5s ease 0s;
            &:hover{
                color: var(--green);
                &::before{
                    background-color: var(--green);
                }
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: var(--white);
                transition: all 0.5s ease 0s;
            }
        }
    }

    &__text {
        line-height: 147.5%;
        max-width: 232px;
        margin-bottom: 16px;
    }

    &__adress-link {
        display: inline-block;
        border-radius: 42px;
        background: var(--white);
        font-size: 18px;
        font-weight: 600;
        line-height: 160%;
        color: var(--dark);
        padding: 15px 23px;
        text-align: center;
        transition: all 0.5s ease 0s;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid var(--white);
            background-color: var(--dark);
            color: var(--white);
        }
    }

    &__copyright {
        line-height: 147.5%;
        text-align: center;
        color: var(--white);
        padding-top: 20px;
        border-top: 1px solid rgb(112, 112, 112);
    }
}